@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Jura:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Jura:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300italic);
/* line 5, ../sass/partials/_topBar.sass */
nav.navbar {
  background-color: white;
}
/* line 8, ../sass/partials/_topBar.sass */
nav.navbar .navbar-brand {
  padding: 5px 0;
}
/* line 10, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav {
  margin-bottom: 0px;
}
/* line 12, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav li {
  margin: 0px 10px;
}
/* line 14, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav li .divider {
  margin-top: 15px;
  width: 100%;
  height: 5px;
  background-color: #28b082;
  display: none;
}
/* line 21, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav li a {
  font-size: 20px;
  color: #646464;
  line-height: 2.333;
  padding: 20px 20px 10px;
}
/* line 28, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav li a:hover:not(.search) {
  background-color: #28b082;
  color: white !important;
  transition: all 0.3s ease-out;
}
/* line 34, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav li.active a, nav.navbar .navbar-nav li.active a:hover, nav.navbar .navbar-nav li.active a:focus {
  background-color: #28b082;
  color: white !important;
}
/* line 37, ../sass/partials/_topBar.sass */
nav.navbar .navbar-nav li.active .divider {
  display: block;
}

@media (max-width: 992px) {
  /* line 46, ../sass/partials/_topBar.sass */
  .fixedSideBar {
    display: inherit;
  }

  /* line 49, ../sass/partials/_topBar.sass */
  nav.navbar {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 78, ../sass/partials/_topBar.sass */
  .fixedSideBar {
    display: none;
  }

  /* line 81, ../sass/partials/_topBar.sass */
  nav.navbar {
    display: block;
  }
  /* line 83, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header {
    width: 100%;
  }
  /* line 85, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header .navbar-brand {
    padding: 15px;
  }
  /* line 87, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header img {
    width: 60%;
  }
  /* line 90, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header .navbar-toggle {
    margin: 20px;
    border: 1px solid #28b082;
  }
  /* line 93, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header .navbar-toggle span {
    background-color: #28b082;
  }
  /* line 96, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header .navbar-toggle:hover, nav.navbar .navbar-header .navbar-toggle:focus {
    background-color: #28b082;
    border: 1px solid white;
  }
  /* line 99, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-header .navbar-toggle:hover span, nav.navbar .navbar-header .navbar-toggle:focus span {
    background-color: white;
  }
  /* line 103, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-nav li.active .divider {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 111, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-brand {
    width: 50%;
  }
  /* line 113, ../sass/partials/_topBar.sass */
  nav.navbar .navbar-brand img {
    width: 80%;
  }
}
/* line 1, ../sass/partials/_sideBar.sass */
.fixedSideBar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 7%;
  height: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 10px 0px rgba(139, 138, 138, 0.75);
  z-index: 999;
}
/* line 12, ../sass/partials/_sideBar.sass */
.fixedSideBar .nav {
  padding: 0;
  text-align: center;
}
/* line 15, ../sass/partials/_sideBar.sass */
.fixedSideBar .nav li {
  border-bottom: 1px solid #cecece;
  text-align: center;
}
/* line 18, ../sass/partials/_sideBar.sass */
.fixedSideBar .nav li a {
  text-align: center;
  font-size: 1.6em;
  color: #28b082;
}
/* line 22, ../sass/partials/_sideBar.sass */
.fixedSideBar .nav li a:hover {
  background-color: #28b082;
  color: white;
  transition: all 0.3s ease-out;
}
/* line 27, ../sass/partials/_sideBar.sass */
.fixedSideBar .nav li.active a {
  background-color: #28b082;
  color: white;
}

@media (max-width: 992px) {
  /* line 37, ../sass/partials/_sideBar.sass */
  .fixedSideBar {
    display: inherit;
  }
}
@media (max-width: 767px) {
  /* line 46, ../sass/partials/_sideBar.sass */
  .fixedSideBar {
    display: none;
  }
}
/* line 1, ../sass/partials/_mainArea.sass */
.main {
  width: 100%;
}

/* line 4, ../sass/partials/_mainArea.sass */
.logoArea {
  display: none;
  margin: 50px auto 0px;
}

@media (max-width: 992px) {
  /* line 11, ../sass/partials/_mainArea.sass */
  .main {
    width: 93%;
    margin-left: 7%;
  }
  /* line 14, ../sass/partials/_mainArea.sass */
  .main .logoArea {
    text-align: center;
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 25, ../sass/partials/_mainArea.sass */
  .main {
    width: 100%;
    margin-left: 0%;
  }
  /* line 28, ../sass/partials/_mainArea.sass */
  .main .logoArea {
    display: none;
  }
}
/* line 4, ../sass/partials/_footer.sass */
footer .subSec .excerpt {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #646464;
  line-height: 1.8;
}
/* line 11, ../sass/partials/_footer.sass */
footer .subSec .socialMedia {
  text-align: center;
}
/* line 13, ../sass/partials/_footer.sass */
footer .subSec .socialMedia ul {
  padding: 0;
  margin-top: 50px;
}
/* line 16, ../sass/partials/_footer.sass */
footer .subSec .socialMedia ul li {
  list-style: none;
  display: inline-block;
  margin: auto 10px;
}
/* line 24, ../sass/partials/_footer.sass */
footer .subSec ul.nav li a {
  float: right;
  font-size: 24px;
  font-family: "Open Sans";
  color: #7f7f7f;
}
/* line 29, ../sass/partials/_footer.sass */
footer .subSec ul.nav li a:hover {
  background-color: #28b082;
  color: white;
  transition: all 0.3s ease-out;
}
/* line 33, ../sass/partials/_footer.sass */
footer .subSec .input-group {
  margin-top: 30px;
  box-shadow: none;
}
/* line 36, ../sass/partials/_footer.sass */
footer .subSec .input-group input, footer .subSec .input-group span {
  border-style: solid;
  border-color: #28b082;
  background-color: white;
  box-shadow: none;
}
/* line 41, ../sass/partials/_footer.sass */
footer .subSec .input-group input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 1px 0px 1px 1px;
  font-size: 15px;
  font-family: "Lato";
  font-weight: 300;
  color: #28b082;
  line-height: 1.667;
}
/* line 51, ../sass/partials/_footer.sass */
footer .subSec .input-group span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 1px 1px 1px 0px;
  color: #28b082;
}
/* line 57, ../sass/partials/_footer.sass */
footer .copyrights {
  margin-top: 60px;
  text-align: center;
}
/* line 60, ../sass/partials/_footer.sass */
footer .copyrights span {
  font-size: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #646464;
  line-height: 2.5;
}

/* line 71, ../sass/partials/_footer.sass */
.form-control:focus {
  border-color: white;
  box-shadow: none;
}

/* line 78, ../sass/partials/_footer.sass */
input::-webkit-input-placeholder {
  font-style: italic;
  color: #28b082 !important;
}

/* line 80, ../sass/partials/_footer.sass */
input:-moz-placeholder {
  font-style: italic;
  color: #28b082 !important;
}

/* line 82, ../sass/partials/_footer.sass */
input::-moz-placeholder {
  font-style: italic;
  color: #28b082 !important;
}

/* line 84, ../sass/partials/_footer.sass */
input:-ms-input-placeholder {
  font-style: italic;
  color: #28b082 !important;
}

@media (max-width: 1200px) {
  /* line 99, ../sass/partials/_footer.sass */
  footer .subSec ul.nav li a {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  /* line 110, ../sass/partials/_footer.sass */
  footer .container {
    width: 100%;
  }
  /* line 113, ../sass/partials/_footer.sass */
  footer .subSec img {
    width: 60%;
  }
  /* line 115, ../sass/partials/_footer.sass */
  footer .subSec .excerpt {
    font-size: 11px;
  }
  /* line 119, ../sass/partials/_footer.sass */
  footer .subSec .socialMedia ul li {
    margin: 0;
  }
  /* line 121, ../sass/partials/_footer.sass */
  footer .subSec .newsletters {
    margin-top: 10px;
  }
  /* line 124, ../sass/partials/_footer.sass */
  footer .subSec ul.nav {
    margin-top: 10px;
  }
  /* line 127, ../sass/partials/_footer.sass */
  footer .subSec ul.nav li a {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  /* line 138, ../sass/partials/_footer.sass */
  footer .subSec {
    text-align: center;
  }
  /* line 140, ../sass/partials/_footer.sass */
  footer .subSec .excerpt {
    font-size: 15px;
    padding: 0 15px;
  }
  /* line 143, ../sass/partials/_footer.sass */
  footer .subSec .newsletters {
    margin-top: 50px;
  }
  /* line 147, ../sass/partials/_footer.sass */
  footer .subSec .socialMedia ul li {
    margin: auto 15px;
  }
  /* line 149, ../sass/partials/_footer.sass */
  footer .subSec .socialMedia ul li img {
    width: 54px;
  }
  /* line 151, ../sass/partials/_footer.sass */
  footer .subSec ul.footerMenu {
    display: none;
  }
}
/* line 4, ../sass/partials/_graph.sass */
.section5 .subSec {
  text-align: center;
}
/* line 7, ../sass/partials/_graph.sass */
.section5 .subSec ul.nav li {
  text-align: left;
  margin: 0 auto 90px;
}
/* line 10, ../sass/partials/_graph.sass */
.section5 .subSec ul.nav li span {
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
  color: #646464;
  line-height: 1.5;
}
/* line 16, ../sass/partials/_graph.sass */
.section5 .subSec ul.nav li .fullBar {
  height: 50px;
  width: 100%;
  float: left;
  position: absolute;
  background-color: #ececec;
}
/* line 22, ../sass/partials/_graph.sass */
.section5 .subSec ul.nav li .bar {
  height: 50px;
  position: absolute;
  clear: both;
  float: left;
  background-color: #28b082;
}
/* line 29, ../sass/partials/_graph.sass */
.section5 .subSec ul.nav li .label {
  float: right;
}

/* line 2, ../sass/partials/_readInfo.sass */
.section6 {
  background-image: url("../img/section4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 7, ../sass/partials/_readInfo.sass */
.section6 .subSec {
  text-align: center;
}
/* line 9, ../sass/partials/_readInfo.sass */
.section6 .subSec h1.hdr {
  font-size: 45px;
  font-family: "Lato";
  font-weight: 300;
  color: #d0fae8;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 100px auto;
  opacity: 0;
  transform: scale(0);
}
/* line 20, ../sass/partials/_readInfo.sass */
.section6 .subSec h4 {
  font-size: 24px;
  font-family: "Lato";
  font-style: italic;
  color: #a6d6c0;
  text-transform: uppercase;
  margin: 0;
}
/* line 30, ../sass/partials/_readInfo.sass */
.section6 .subSec a {
  display: inline-block;
  border: 1px solid #61f9c5;
  font-size: 26px;
  font-weight: 300;
  font-family: "Open Sans";
  color: #61f9c5;
  line-height: 1.154;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 100px auto;
}
/* line 42, ../sass/partials/_readInfo.sass */
.section6 .subSec a:hover {
  border-color: white;
  color: white;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

@media (max-width: 1200px) {
  /* line 54, ../sass/partials/_readInfo.sass */
  .section6 .subSec {
    margin: 60px auto 0px;
  }
}
@media (max-width: 992px) {
  /* line 62, ../sass/partials/_readInfo.sass */
  .section6 .subSec h3 {
    font-size: 30px;
  }
}
/* line 5, ../sass/partials/_aboutSection.sass */
.section1 .container .subSec {
  margin: 30px auto;
}
/* line 7, ../sass/partials/_aboutSection.sass */
.section1 .container .subSec .shape {
  width: 100%;
  height: 100%;
}
/* line 12, ../sass/partials/_aboutSection.sass */
.section1 .container .subSec .right .tabSec img {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
/* line 16, ../sass/partials/_aboutSection.sass */
.section1 .container .subSec .right .tabSec p {
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
  color: #646464;
  line-height: 1.8;
}

/* line 24, ../sass/partials/_aboutSection.sass */
ul.subNav {
  list-style: none;
}
/* line 26, ../sass/partials/_aboutSection.sass */
ul.subNav li {
  margin: 20px 0px;
  text-align: center;
}
/* line 30, ../sass/partials/_aboutSection.sass */
ul.subNav li a {
  border: 1px solid #28b082;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Open Sans";
  color: #28b082;
  line-height: 2;
}
/* line 38, ../sass/partials/_aboutSection.sass */
ul.subNav li a span {
  display: inherit;
  border: 2px solid white;
  border-radius: 10px;
}
/* line 43, ../sass/partials/_aboutSection.sass */
ul.subNav li a:hover, ul.subNav li a:focus {
  color: white;
  background-color: #28b082;
  transition: all 0.3s ease-out;
}
/* line 50, ../sass/partials/_aboutSection.sass */
ul.subNav li.active a {
  border: 1px solid #28b082;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Open Sans";
  color: white;
  background-color: #28b082;
  line-height: 2;
}
/* line 59, ../sass/partials/_aboutSection.sass */
ul.subNav li.active a span {
  display: inherit;
  border: 2px solid white;
  border-radius: 10px;
}

/* line 64, ../sass/partials/_aboutSection.sass */
ul.aboutPage {
  text-align: center;
}
/* line 66, ../sass/partials/_aboutSection.sass */
ul.aboutPage li {
  display: inline-block;
  margin: 0 10px;
}
/* line 70, ../sass/partials/_aboutSection.sass */
ul.aboutPage li a span {
  padding: 0 5px;
}

@media (max-width: 1200px) {
  /* line 78, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .right .tabSec p {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  /* line 90, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .left ul {
    text-align: center;
  }
  /* line 92, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .left ul li {
    display: inline-block;
    margin: 0 10px;
  }
  /* line 96, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .left ul li a span {
    padding: 0 5px;
  }
  /* line 98, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .right {
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  /* line 110, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .left ul {
    text-align: center;
  }
  /* line 112, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .left ul li {
    display: block;
    margin: 15px;
  }
  /* line 116, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .left ul li a span {
    padding: 0 5px;
  }
  /* line 120, ../sass/partials/_aboutSection.sass */
  .section1 .container .subSec .right .tabSec img {
    width: 40%;
  }

  /* line 123, ../sass/partials/_aboutSection.sass */
  ul.aboutPage li {
    display: block;
    margin: 15px;
  }
}
/* line 11, ../sass/index.sass */
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

/* line 16, ../sass/index.sass */
a {
  font-family: "Open Sans";
  font-weight: 300;
}

/* line 21, ../sass/index.sass */
h1 {
  font-size: 48px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #646464;
  line-height: 0.75;
  margin-bottom: 80px;
}

/* line 32, ../sass/index.sass */
.section1, .section2, .section3, .section4, .section5, .section6, footer {
  margin: 150px auto 0px;
}

/* line 38, ../sass/index.sass */
.carousel {
  margin-top: 97px;
}
/* line 40, ../sass/index.sass */
.carousel .carousel-indicators {
  position: relative;
  margin: 0;
  padding: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  margin-top: -30px;
}
/* line 48, ../sass/index.sass */
.carousel .carousel-indicators li {
  border-radius: 0px;
  border: 3px solid #12684b;
  background-color: #12684b;
}
/* line 52, ../sass/index.sass */
.carousel .carousel-indicators li.active {
  width: 8px;
  height: 8px;
  margin: 2px;
  border: none;
  background-color: white;
}
/* line 60, ../sass/index.sass */
.carousel .carousel-inner .active {
  width: 100%;
  height: 100%;
}
/* line 63, ../sass/index.sass */
.carousel .carousel-inner .item {
  width: 100%;
  height: 100%;
}
/* line 67, ../sass/index.sass */
.carousel .carousel-inner .item .carousel-caption div {
  margin-bottom: 20px;
  padding: 5px 15px;
  background-color: rgba(40, 176, 130, 0.702);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 73, ../sass/index.sass */
.carousel .carousel-inner .item .carousel-caption div p {
  font-size: 22px;
  font-family: "Lato";
  color: white;
  margin-bottom: 0px;
}
/* line 79, ../sass/index.sass */
.carousel .carousel-inner .item img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
  height: 100%;
}

/* line 88, ../sass/index.sass */
.mainTitle {
  margin: 150px auto 0px;
  text-align: center;
}
/* line 91, ../sass/index.sass */
.mainTitle p.heroMsg {
  font-size: 38px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #979898;
  line-height: 1.579;
  transform: scale(0);
  -webkit-transform: scale(0);
}

/* line 104, ../sass/index.sass */
.section2 .subSec {
  text-align: center;
}
/* line 106, ../sass/index.sass */
.section2 .subSec div {
  margin: 0;
  padding: 0;
  background-color: #135941;
}
/* line 110, ../sass/index.sass */
.section2 .subSec div .content {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 119, ../sass/index.sass */
.section2 .subSec div .content span.title {
  display: inline-block;
  font-family: "Droid Sans";
  font-size: 24px;
  color: white;
  margin: 100px 0 10px;
}
/* line 125, ../sass/index.sass */
.section2 .subSec div .content span.category {
  display: block;
  font-family: "Jura";
  font-weight: 500;
  color: #66eabd;
  font-size: 18px;
}
/* line 133, ../sass/index.sass */
.section2 .subSec div .project {
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 140, ../sass/index.sass */
.section2 .subSec div .project1 {
  background-image: url("../img/project1.jpg");
}
/* line 142, ../sass/index.sass */
.section2 .subSec div .project2 {
  background-image: url("../img/project2.jpg");
}
/* line 144, ../sass/index.sass */
.section2 .subSec div .project3 {
  background-image: url("../img/project3.jpg");
}
/* line 146, ../sass/index.sass */
.section2 .subSec div .project4 {
  background-image: url("../img/project4.jpg");
}
/* line 148, ../sass/index.sass */
.section2 .subSec div .project5 {
  background-image: url("../img/project5.jpg");
}
/* line 150, ../sass/index.sass */
.section2 .subSec div .project6 {
  background-image: url("../img/project6.jpg");
}
/* line 152, ../sass/index.sass */
.section2 .subSec div .project7 {
  background-image: url("../img/project7.jpg");
}
/* line 154, ../sass/index.sass */
.section2 .subSec div .project8 {
  background-image: url("../img/project8.jpg");
}
/* line 158, ../sass/index.sass */
.section2 .subSec div:hover .content {
  opacity: 1;
  text-decoration: none;
  transition: all 0.4s ease-out;
}
/* line 162, ../sass/index.sass */
.section2 .subSec div:hover .project {
  opacity: 0.3;
  transition: all 0.4s ease-out;
}

/* line 169, ../sass/index.sass */
.section3 .subSec {
  text-align: center;
}
/* line 171, ../sass/index.sass */
.section3 .subSec .package {
  display: block;
  border: 1px solid #28b082;
  border-radius: 28px;
  margin: 40px auto;
}
/* line 176, ../sass/index.sass */
.section3 .subSec .package .title {
  background-color: #28b082;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}
/* line 180, ../sass/index.sass */
.section3 .subSec .package .title p {
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
  color: #66eabd;
  line-height: 1.8;
  -moz-transform: matrix(1.10733, 0, 0, 1.10573, 0, 0);
  -webkit-transform: matrix(1.10733, 0, 0, 1.10573, 0, 0);
  -ms-transform: matrix(1.10733, 0, 0, 1.10573, 0, 0);
}
/* line 190, ../sass/index.sass */
.section3 .subSec .package .title h1 {
  display: inline-block;
  margin: 30px 0px;
  font-size: 72px;
  font-family: "Open Sans";
  color: white;
  line-height: 0.5;
  -moz-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -webkit-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -ms-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
}
/* line 200, ../sass/index.sass */
.section3 .subSec .package .title h1 span {
  font-size: 22px;
}
/* line 204, ../sass/index.sass */
.section3 .subSec .package .content ul li {
  font-size: 22px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #28b082;
  line-height: 1.636;
  -moz-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -webkit-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -ms-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
}
/* line 213, ../sass/index.sass */
.section3 .subSec .package .content ul li span, .section3 .subSec .package .content ul li a {
  display: inline-block;
  margin: 20px auto;
}
/* line 216, ../sass/index.sass */
.section3 .subSec .package .content ul li a {
  border: 1px solid transparent;
  border-radius: 0;
  padding: 20px;
  background-color: #28b082;
  font-size: 30px;
  font-family: "Lato";
  color: white;
  line-height: 1.2;
  -moz-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -webkit-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -ms-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
}
/* line 228, ../sass/index.sass */
.section3 .subSec .package .content ul li a:hover {
  border: 1px solid #28b082;
  background-color: white;
  color: #28b082;
  transition: all 0.3s ease-out;
}
/* line 235, ../sass/index.sass */
.section3 .subSec .package .content ul li:not(:last-child) {
  border-bottom: 1px dashed #28b082;
}
/* line 238, ../sass/index.sass */
.section3 .subSec .defaultPackage {
  display: block;
  background-color: #28b082;
  border-radius: 28px;
  padding: 10px;
}
/* line 243, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame {
  border: 2px solid white;
  border-radius: 28px;
}
/* line 246, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .title {
  padding: 10px;
  border-bottom: 2px solid white;
}
/* line 249, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .title h1 {
  display: inline-block;
  margin: 30px 0px;
  font-size: 79px;
  font-family: "Open Sans";
  color: white;
  line-height: 0.5;
  -moz-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -webkit-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -ms-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
}
/* line 259, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .title h1 span {
  font-size: 22px;
}
/* line 261, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .title p {
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
  color: #66eabd;
  line-height: 1.8;
  -moz-transform: matrix(1.10733, 0, 0, 1.10573, 0, 0);
  -webkit-transform: matrix(1.10733, 0, 0, 1.10573, 0, 0);
  -ms-transform: matrix(1.10733, 0, 0, 1.10573, 0, 0);
}
/* line 270, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .content {
  padding: 20px;
}
/* line 273, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .content ul li {
  font-size: 22px;
  font-family: "Open Sans";
  font-weight: 300;
  color: white;
  line-height: 1.636;
  -moz-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -webkit-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -ms-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
}
/* line 282, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .content ul li span, .section3 .subSec .defaultPackage .frame .content ul li a {
  display: inline-block;
  margin: 20px auto;
}
/* line 285, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .content ul li a {
  border: 1px solid transparent;
  border-radius: 0;
  padding: 20px;
  background-color: white;
  font-size: 30px;
  font-family: "Lato";
  color: #28b082;
  line-height: 1.2;
  -moz-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -webkit-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
  -ms-transform: matrix(0.93455, 0, 0, 0.93548, 0, 0);
}
/* line 297, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .content ul li a:hover {
  border: 1px solid white;
  background-color: #28b082;
  color: white;
  transition: all 0.3s ease-out;
}
/* line 304, ../sass/index.sass */
.section3 .subSec .defaultPackage .frame .content li:not(:last-child) {
  border-bottom: 1px dashed white;
}

/* line 309, ../sass/index.sass */
.section4 {
  background-image: url("../img/testimonialsBg.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 314, ../sass/index.sass */
.section4 .subSec {
  text-align: center;
}
/* line 316, ../sass/index.sass */
.section4 .subSec h1 {
  margin: 100px auto 60px;
  color: #d0fae8;
}
/* line 319, ../sass/index.sass */
.section4 .subSec .carousel {
  margin-top: 0;
  margin-bottom: 60px;
}
/* line 323, ../sass/index.sass */
.section4 .subSec .carousel .carousel-inner .item img {
  width: auto;
  display: inline;
}
/* line 326, ../sass/index.sass */
.section4 .subSec .carousel .carousel-inner .item div {
  text-align: center;
}
/* line 328, ../sass/index.sass */
.section4 .subSec .carousel .carousel-inner .item div p {
  font-size: 30px;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-style: italic;
  color: #7ffac5;
  line-height: 1.467;
  margin-bottom: 30px;
}
/* line 336, ../sass/index.sass */
.section4 .subSec .carousel .carousel-inner .item div p.quotes {
  font-size: 50px;
  font-weight: bold;
}
/* line 339, ../sass/index.sass */
.section4 .subSec .carousel .carousel-inner .item div .thumb {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  /* line 352, ../sass/index.sass */
  .carousel .carousel-inner .item .carousel-caption div p {
    font-size: 16px;
  }

  /* line 356, ../sass/index.sass */
  .section2 .subSec div .content span.title {
    margin: 80px 0 10px;
  }
  /* line 358, ../sass/index.sass */
  .section2 .subSec div .project {
    height: 250px;
  }
}
@media (max-width: 992px) {
  /* line 372, ../sass/index.sass */
  .section1, .section2, .section3, .section4, .section5, .section6, footer {
    margin: 100px auto 0px;
  }

  /* line 377, ../sass/index.sass */
  .mainTitle p.heroMsg {
    font-size: 28px;
  }

  /* line 384, ../sass/index.sass */
  .section2 .subSec div .content span.title {
    margin: 120px 0 10px;
  }
  /* line 386, ../sass/index.sass */
  .section2 .subSec div .project {
    height: 300px;
  }

  /* line 391, ../sass/index.sass */
  .section3 .subSec .package, .section3 .subSec .defaultPackage {
    width: 70%;
    margin: 0 auto 40px;
  }

  /* line 398, ../sass/index.sass */
  .section4 .subSec .carousel .carousel-inner .item {
    height: 460px;
  }
}
@media (max-width: 767px) {
  /* line 409, ../sass/index.sass */
  .container {
    width: 100%;
  }

  /* line 412, ../sass/index.sass */
  .carousel-caption {
    display: none;
  }

  /* line 418, ../sass/index.sass */
  .section2 .subSec div .content span.title {
    margin: 150px 0 10px;
  }
  /* line 420, ../sass/index.sass */
  .section2 .subSec div .project {
    height: 400px;
  }

  /* line 427, ../sass/index.sass */
  .section4 .subSec .carousel .carousel-inner .item p {
    font-size: 20px !important;
  }
}
